<div class="container">
  <div class="sidebar">
    <div class="profile">
      <div class="profile-img">
        <img src="./style/images/logo-letsCatchup.png" alt="" />

      </div>
      <div class="profile-data">
        <h3>Let's Catch Up</h3>
        <span>{{username}}</span>
        <input id="spuserid">ID : {{id}}</input>
        <button id="profile-button">View Profile</button>
      </div>
    </div>

    <div class="online">
      <h3 class="title">Online <span>(+5)</span></h3>
      <div class="online-ids">
        <img src="./style/images/avatar_1.png" alt="avatar1" />
        <img src="./style/images/avatar_2.png" alt="avatar1" />
        <img src="./style/images/avatar_3.jpg" alt="avatar1" />
        <img src="./style/images/avatar_4.jpg" alt="avatar1" />

      </div>
    </div>

    {{! recent message  section }}
    <div class="messages">
      <h3 class="title">Messages <span>(+15)</span></h3>
      <div class="recents active">
        <div class="recent-img">
          <img src="./style/images/avatar_1.png" alt="" />
        </div>
        <div class="recent-data">
          <h3>Sia David</h3>
          <span>You: Thanks :)</span>
        </div>
      </div>
      <div class="recents">
        <div class="recent-img">
          <img src="./style/images/avatar_2.png" alt="" />
        </div>
        <div class="recent-data">
          <h3>Sammy Young</h3>
          <span>Typing...</span>
        </div>
      </div>
      <div class="recents">
        <div class="recent-img">
          <img src="./style/images/avatar_3.jpg" alt="" />
        </div>
        <div class="recent-data">
          <h3>Katty Messie</h3>
          <span>You: see you later!</span>
        </div>
      </div>
      <div class="recents">
        <div class="recent-img">
          <img src="./style/images/avatar_4.jpg" alt="" />
        </div>
        <div class="recent-data">
          <h3>Michelle Burdman</h3>
          <span>You: see you later!</span>
        </div>
      </div>

      <div class="recents">
        <div class="recent-img">
          <img src="./style/images/avatar_5.png" alt="" />
        </div>
        <div class="recent-data">
          <h3>Samuel Jim</h3>
          <span>You: Bye!</span>
        </div>
      </div>

    </div>
  </div>

  {{!-- {{! Message Box }} --}}

  <div class="message-box">
    <div class="box-top">
      <div class="recents">
        <div class="recent-data">
          <h3>Your Profile</h3>
        </div>
      </div>

    </div>

    <div class="profile-complete">
        <div class="recent-img">
            <img src=`{{profile_pic_path}}` alt='' />
        </div>
        <h3>Username: <span>{{username}}</span></h2>
        <h3>Email: <span>{{email}}</span></h3>
        <button id="updateProfile">Update Your Info</button>

    </div>

  </div>

</div>

<script src="./scripts/chat.js"></script>
<script src="./scripts/profile.js"></script>
<script src=“/socket.io/socket.io.js”></script>